
.listBox{  
  display: flex;
  border-color:rgb(176, 104, 17);
  border:2px;
}

.listBox input[type=checkbox] { display:none; } /* to hide the checkbox itself */
.listBox input[type=checkbox] + label {
  padding-left: 25px;
  padding-right: 10px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: rgb(231, 231, 168);

}

.listBox input[type=checkbox] + label::before {
  border-radius:50%;
  content: "";
  display: block;
  border: 1px solid;
  border-color:  #585753;
  background-color: #FFF;
  position: absolute;
  left: 2px;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}

.listBox input[type="checkbox"]:checked+label::before {
  /*background-color: cadetblue;*/
  background-color: chocolate;
}

.listBox input[type="checkbox"]:checked+label::after {
  content: "";
  width: 18px;
  height: 9px;
  border-bottom: 3px solid;
  border-left: 3px solid;
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -9px;
  box-sizing: border-box;
  display: block;
  border-color:  #555555;
}


.todoListStyle{
  list-style:none;
  padding-left:0px;
}

.todo  {
  border:2px solid #0070f3;
  border-top:1px solid #0070f3;
  border-bottom:1px solid #0070f3;

  width:90%;
  height:auto;
  background-color: cornflowerblue;

  display:flex;
  align-items:center;

  font-weight:bold;
}

.todo p {
  width:100%;
  overflow-wrap: break-word;
}
