.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.todoList{
  padding-left:10px;
  padding-right:10px;
  width:460px;
  background-color: blanchedalmond;
  border-radius:5%;
}
.form {
  margin-left:0;
  margin-right:0;
  padding:0px;
  /*padding-right:40px;*/
  width:100%;
  height:50px;
  display:flex;
}

.form input[type=text]{
  width:430px;
  padding: 0.4rem;

  border-color:#555555;
  border-radius:0.5rem;

  font-weight:bold;
}
.listBox{
  
  display: flex;
  border-color:rgb(176, 104, 17);
  border:2px;
  
  
}

.buttonIcon{
  margin-left:3px;
  margin-top:0px;
  margin-bottom:0px;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  aspect-ratio: 1;
  background-color: #6fa24a;
  border-radius: 50%;
}

.buttonIconDel{
  background-color: chocolate;
}
.listBox input[type=checkbox] { display:none; } /* to hide the checkbox itself */
.listBox input[type=checkbox] + label {
  padding-left: 25px;
  padding-right: 10px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: rgb(231, 231, 168);

}
.listBox input[type=checkbox] + label::before {
  border-radius:50%;
  content: "";
  display: block;
  border: 1px solid;
  border-color:  #585753;
  background-color: #FFF;
  position: absolute;
  left: 2px;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.listBox input[type="checkbox"]:checked+label::before {
  /*background-color: cadetblue;*/
  background-color: chocolate;
}
.listBox input[type="checkbox"]:checked+label::after {
  content: "";
  width: 18px;
  height: 9px;
  border-bottom: 3px solid;
  border-left: 3px solid;
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -9px;
  box-sizing: border-box;
  display: block;
  border-color:  #555555;
}


/* .listBox input[type="checkbox"]{
  margin-top:auto;
  margin-bottom:auto;
  width: 1.5em;
  height: 1.5em;
  background-color: #ffffff;
  
  border-radius: 50%;
 align-items: center; 
  border: 2px solid #566573;
   appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer; 
} */
/* .listBox input[type="checkbox"]:checked {
  background-color: #85C1E9; 
}*/

.todoListStyle{
  list-style:none;
  padding-left:0px;
}

.todo  {
  border:2px solid #0070f3;
  border-top:1px solid #0070f3;
  border-bottom:1px solid #0070f3;

  width:90%;
  height:auto;
  background-color: cornflowerblue;

  display:flex;
  align-items:center;

  font-weight:bold;
}


.todo p {
  width:100%;
  overflow-wrap: break-word;
}
